<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI calculator</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #060530;color:rgb(245, 197, 38)">
    <h1 style="text-align: center;margin-top:17vh;margin-bottom:20px">BMI calculator</h1>
    <div class="container" style="border:3px solid rgb(245, 197, 38);">
        <form style="padding:20px" action="/bmi" method="post">
            <div class="form-group" style="padding:10px">
              <label for="mass">Weight (in kg)</label>
              <input class="form-control" id="mass" name="mass" aria-describedby="emailHelp" placeholder="Enter Mass">
            </div>
            <div class="form-group" style="padding:10px">
              <label for="mass">Height (in cm)</label>
              <input class="form-control" id="height" name="height" placeholder="Enter Height">
            </div>
            <button  style="margin-left:50%" type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <p>{{bmi}}</p>
</body>
</html>